name: GUT testing
on:
    push:
        branches: [main]

jobs:
    execute-gut:
        name: Run GUT tests
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v2
            - name: Docker test
              uses: ghgsrt/godot-gut-ci@master
              with:
                  godot_version: 4.0
                  gut_params: -gdir=res://test
 