name: Godot testing
on:
    push:
        branches: [main]

jobs:
    test:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - uses: ghgsrt/godot-tester-ci@master
              with:
                  # required
                  version: "4.0"
                  # the type of release of godot that the tests should be run with
                  release_type: "stable"
                  is-mono: "false"
                  # the folder with your projects.godot file in it
                  path: ""
                  # how long to spend importing assets before tests are run
                  import-time: "100"
                  # how long tests can run in seconds
                  test-timeout: "45"
                  # the ratio of tests that must pass for this action to pass
                  # e.g. 0.6 means 60% of your tests must pass
                  minimum-pass: "1"
                  # the directory containing Gut tests
                  test-dir: "res://test/unit"
                  # instead of running GUT's command line tool, you can run a GUT test scene if you have one
                  # set up correctly
                  # helps enable things like mouse mocking and current scene to work without any extra coding steps
                  # set up a scene like in this repo --> located at /tester/test/alt_mode/tests.tscn
                  # set up a script like in this repo --> located at /tester/test/alt_mode/cli_plugin.gd
                  # ensure cli_plugin.gd inherits from the GUT plugin
                  # and exits on test completion
                  # ensure tests.tscn uses your modified plugin script and check yes for run on load
                  # uses relative path from your godot project directory
                  # direct-scene: "test/alt_mode/tests.tscn"
                  # default is false, set true to count asserts instead of tests
                  assert-check: "true"
                  # not checked by default, set to a number to limit the
                  # maximum amount of failed tests for a passing test suite
                  max-fails: 3
                  # to ensure all SCRIPT ERRORs dont contribute to your failure rate
                  ignore-errors: "true"
                  # default is GUTs default: 'res://.gutconfig.json'; set this to load a different config file
                  config-file: "res://.gutconfig.json"
                  # designate a custom url to download the godot binary from
                  #   custom-godot-dl-url: "https://downloads.tuxfamily.org/godotengine/4.0/rc6/mono/Godot_v4.0-rc6_mono_linux_x86_64.zip"
                  # relative path to the xml file to read / write GUT's results from, recommended
                  # for direct-scene users to check this file if you have issues
                  result-output-file: "test_results.xml"
